{% extends "home_page_admin.html" %}
{% load static %}

{% block static_masir %}
  {% url 'home_page_link' %}
{% endblock %}

{% block mainblock %}
        <div style="width: 100vw; height: 100vh; position: relative; overflow: hidden;">
          <div id="masir-map3-background"></div>
          <div class="position-absolute top-50 start-50 translate-middle scroll-without-scrollbar w-100" style="max-height: 80vh; overflow: scroll;">
            {% if the_file %}
              <div class="mb-2 mt-5 pb-2 w-75 mx-auto" style="background-color: #ffcbcb;">
                <div class="p-2 d-flex justify-content-between" style="background-color: #eeeeee;">
                  <span>
                    {{ the_file.user }} | {{ the_file.level }}
                  </span>
                  <span>
                    {{ the_file.user.groups.all.first }}
                  </span>
                </div>

                <div class="p-2">
                  {{ the_file.link }}
                  <a class="btn masir-btn w-100 mt-1" href="{{ the_file.link }}" target="_blank" style="background-color: #d1d426;"> دانلود فایل قرائت </a>
                </div>
              </div>
              <form action="" method="post" class="w-75 mx-auto" onsubmit="club_admin_form_click()">
                {% csrf_token %}
                <button type="submit" name="club_admin_form" class="btn masir-btn w-100 mt-2" style="background-color: #4ed426;" id="club_admin_form">تایید</button>
                <button class="btn masir-btn w-100 mt-2" style="background-color: #4ed426; display: none;" id="club_admin_form_loading">
                  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                  در حال ارسال...
                </button>
              </form>
            {% endif %}
            {% if club_files %}
              <div class="w-75 mt-5 mx-auto">
                {% for x in club_files %}
                  <a class="text-decoration-none link-dark" href="{% url 'club_detail_page_link' x.id %}">
                    <div class="mb-2 pb-2" style="background-color: {% if x.verified %} #cbffcb {% else %} #ffcbcb {% endif %};">
                      <div class="p-2 d-flex justify-content-between" style="background-color: #eeeeee;">
                        <span>
                          {{ x.user }} | {{ x.title }}
                        </span>
                        <span>
                          {{ x.date }}
                        </span>
                      </div>

                      <div class="p-2" style="text-align: justify;">
                        {{ x.link }}
                      </div>
                    </div>
                  </a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endblock %}

{% block scriptblock %}
    </div>
    <!-- Bootstrap -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script type="text/javascript">
      var map = ["&\#1776;","&\#1777;","&\#1778;","&\#1779;","&\#1780;","&\#1781;","&\#1782;","&\#1783;","&\#1784;","&\#1785;"]
      document.getElementById("maindiv").innerHTML = document.getElementById("maindiv").innerHTML.replace(/\d(?=[^<>]*(<|$))/g, function($0) { return map[$0]});
    </script>

    <script>
      function club_admin_form_click(){
        document.getElementById('club_admin_form').style.display = 'none';
        document.getElementById('club_admin_form_loading').style.display = 'block';
      }
    </script>
{% endblock %}

  </body>
</html>