{% extends "home_page_admin.html" %}
{% load static %}

{% block static_masir %}
    {% url 'home_page_link' %}
{% endblock %}

{% block mainblock %}
    <div style="width: 100vw; height: 100vh; position: relative; overflow: hidden;">
        <div id="masir-map3-background"></div>
        <div class="position-absolute top-50 start-50 translate-middle scroll-without-scrollbar w-100"
             style="max-height: 80vh; overflow: scroll;">
            {% if the_file %}
                <div class="mb-2 mt-5 pb-2 w-75 mx-auto" style="background-color: #ffcbcb;">
                    <div class="p-2 d-flex justify-content-between" style="background-color: #eeeeee;">
                  <span>
                    {{ the_file.user }} | {{ the_file.level }}
                  </span>
                        <span>
                    {{ the_file.user.groups.all.first }}
                  </span>
                    </div>

                    <div class="p-2">
                        {{ the_file.link }}
                        <a class="btn masir-btn w-100 mt-1" href="{{ the_file.link }}" target="_blank"
                           style="background-color: #d1d426;"> دانلود فایل قرائت </a>
                    </div>

                </div>
                <form action="" method="post" class="w-75 mx-auto" onsubmit="club_admin_form_click()">
                    {% csrf_token %}
                    <div id="club_form">
                        <button type="submit" name="club_admin_form" class="btn masir-btn w-100 mt-2"
                                style="background-color: #4ed426;" id="club_admin_form">تایید
                        </button>
                        <button type="submit" name="club_admin_deny_form" class="btn masir-btn w-100 mt-2"
                                style="background-color: #ad0900; color: white ; display: none;"
                                id="club_admin_deny_form">عدم تایید
                        </button>
                    </div>

                    <div id="club_form_loading" style="display: none;">
                        <button class="btn masir-btn w-100 mt-2" style="background-color: #4ed426; display: none;"
                                id="club_admin_form_loading">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            در حال ارسال...
                        </button>
                        <button class="btn masir-btn w-100 mt-2"
                                style="background-color: #ad0900; color: white; display: none;"
                                id="club_admin_deny_form_loading">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            در حال ارسال...
                        </button>
                    </div>


                    <div class="mb-1 mt-2" style="font-weight: 700;">
                        دلیل عدم تایید
                    </div>
                    <textarea name="club_admin_denied_message"
                              class="form-control form-control masir-form-control mb-3" rows="3"
                              placeholder="در صورت عدم تایید فایل صوتی، دلیل خود را بنویسید."
                              oninput="club_admin_denied_message_change(this)"></textarea>
                </form>
            {% endif %}
            {% if club_files %}
                <div class="w-75 mt-5 mx-auto">
                    {% for x in club_files %}
                        <a class="text-decoration-none link-dark" href="{% url 'club_detail_page_link' x.id %}">
                            <div class="mb-2 pb-2"
                                 style="background-color: {% if x.show_public and x.verified %} #cbcbff {% elif x.denied and x.show_public %} #cbcbff {% elif x.denied %} #ffcbff  {% elif x.verified %}  #cbffcb{% else %} #ffcbcb {% endif %};">
                                <div class="p-2 d-flex justify-content-between" style="background-color: #eeeeee;">
                        <span>
                           {{ x.user }} | {{ x.title }} -- {% if x.denied or x.verified %}{{ x.date }}{% endif %}
                        </span>
                                    <span>
                                   {% if x.denied or x.verified %} {{ x.referee }} | {% endif %}
                                        <b style="font-weight: 700;">{% if x.show_public and x.verified %} تایید شده و
                                            اعلام
                                            شده{% elif x.denied and x.show_public %}  رد شده و اعلام
                                            شده {% elif x.denied %} رد
                                            شده  {% elif x.verified %}  تایید شده {% endif %}</b>
                                    {% if not x.denied and not x.verified %}{{ x.date }}{% endif %}
                                </span>
                                </div>
                                <div class="p-2" style="text-align: justify;">
                                    {{ x.link }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scriptblock %}
    <!-- Bootstrap -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <script>

        function club_admin_denied_message_change(e) {
            if (e.value == "") {
                document.getElementById('club_admin_form').style.display = 'block';
                document.getElementById('club_admin_form_loading').style.display = 'block';
                document.getElementById('club_admin_deny_form').style.display = 'none';
                document.getElementById('club_admin_deny_form_loading').style.display = 'none';
            } else {
                document.getElementById('club_admin_form').style.display = 'none';
                document.getElementById('club_admin_form_loading').style.display = 'none';
                document.getElementById('club_admin_deny_form').style.display = 'block';
                document.getElementById('club_admin_deny_form_loading').style.display = 'block';
            }
        }


        function club_admin_form_click() {
            document.getElementById('club_admin_form').style.display = 'none';
            document.getElementById('club_admin_form_loading').style.display = 'block';
        }

    </script>
{% endblock %}

