{% extends "landing_page.html" %}
{% load static %}

{% block about_masir_block %}
  {% url 'landing_page_link' %}
{% endblock %}

{% block mainblock %}
  <div id="masir-map1-background">
    <img id="masir-logotype" class="position-absolute start-50 translate-middle-x" src="{% static 'images/logotype.png' %}" style="width: max(50vw, 50vh); margin-top: 5vh;">
    <img id="masir-map1-stone" src="{% static 'images/stone.png' %}">
    {% comment %} <div class="position-relative top-50 start-50 translate-middle w-100 text-center py-5" style="font-weight: 700; background-color: #ffffffc0;">
      <div class="row justify-content-center mb-5 pb-5">
        
        <div class="col">
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 1 - طغیان تاریکی </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 1 - طغیان تاریکی.mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 2 - سپیده_دم </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 2 - سپیده_دم.mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 3 - رویای پریشان </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 3 - رویای پریشان .mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 4 - صعود </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 4 - صعود.mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
          
        </div>
        <div class="col">
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 5 - حقیقت </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 5 - حقیقت.mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 6 - ستونهای سست </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 6 - ستونهای سست.mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 7- ملاقات </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 7- ملاقات .mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
        </div>
        
      </div>
    </div> {% endcomment %}
    <div class="position-relative top-50 start-50 translate-middle w-100 text-center py-5" style="font-weight: 700; margin-top:10vh; background-color: #ffffffc0;">
      <div class="row justify-content-center mb-5 pb-5" style="margin-top:40em">
        
        <div class="col">
          <p class="masir-title-1">کلیپ اختتامیه مسیر ۱۴۰۱</p>
          <iframe src="https://www.aparat.com/video/video/embed/videohash/Q06sB/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
        </div>
        <div class="col">
          <p class="masir-title-1">کلیپ معرفی مسیر ۱۴۰۱</p>
          <iframe src="https://www.aparat.com/video/video/embed/videohash/pWhU5/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
        </div>
        
      </div>
    </div>
    
  </div>

  


    <div class="position-relative start-50 translate-middle text-center py-5" style="font-weight: 700; width: 80vw">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col">
          <p class="masir-title-2">آثار برتر صوتی</p>
          <div id="audiobest" class="carousel slide" data-bs-ride="true" style=''>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#audiobest" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#audiobest" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#audiobest" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#audiobest" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#audiobest" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner" style="padding-top: 10vh; height:100vh;">
              <div class="carousel-item active">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/dZ57C/vt/frame"  class="w-100" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="height: 100vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/MsqWy/vt/frame"  class="w-100" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="height: 100vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/JdK85/vt/frame"  class="w-100" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="height: 100vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/Zh3MT/vt/frame"  class="w-100" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="height: 100vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/KiLUB/vt/frame"  class="w-100" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="height: 100vh;"></iframe>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#audiobest" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">قبلی</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#audiobest" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">بعدی</span>
            </button>
          </div>
        </div>
        <div class="col">
          <p class="masir-title-2">آثار برتر ویدیویی</p>
          <div id="videobest" class="carousel slide" data-bs-ride="true" style=''>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#videobest" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#videobest" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#videobest" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#videobest" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#videobest" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner" style="padding-top: 10vh; height:100vh;">
              <div class="carousel-item active">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/fAYV7/vt/frame"  class="w-100" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="height: 100vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/Dhc7q/vt/frame"  class="w-100" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="height: 100vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/Mv094/vt/frame"  class="w-100" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="height: 100vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/WLZBK/vt/frame"  class="w-100" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="height: 100vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/3Xui9/vt/frame"  class="w-100" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="height: 100vh;"></iframe>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#videobest" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">قبلی</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#videobest" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">بعدی</span>
            </button>
          </div>
        
        </div>
      </div>
    </div>
    
{% endblock %}

{% block scriptblock %}
  <script>
    function people_judge_form_click(){
      document.getElementById('people_judge_form').style.display = 'none';
      document.getElementById('people_judge_form_loading').style.display = 'block';
    }

    function images_vote_check() {
      var checkBoxes = document.getElementsByClassName('image_checkbox');
      var isChecked = false;
      for (var i = 0; i < checkBoxes.length; i++) {
        if (checkBoxes[i].checked) {
          isChecked = true;
        }
      }
      if (isChecked) {
        for (var i = 0; i < checkBoxes.length; i++){
          checkBoxes[i].required = false;
        }
      }
      else {
        for (var i = 0; i < checkBoxes.length; i++){
          checkBoxes[i].required = true;
        }
      }
    }

    function music_vote_check() {
      var checkBoxes = document.getElementsByClassName('music_checkbox');
      var isChecked = false;
      for (var i = 0; i < checkBoxes.length; i++) {
        if (checkBoxes[i].checked) {
          isChecked = true;
        }
      }
      if (isChecked) {
        for (var i = 0; i < checkBoxes.length; i++){
          checkBoxes[i].required = false;
        }
      }
      else {
        for (var i = 0; i < checkBoxes.length; i++){
          checkBoxes[i].required = true;
        }
      }
    }

    function video_vote_check() {
      var checkBoxes = document.getElementsByClassName('video_checkbox');
      var isChecked = false;
      for (var i = 0; i < checkBoxes.length; i++) {
        if (checkBoxes[i].checked) {
          isChecked = true;
        }
      }
      if (isChecked) {
        for (var i = 0; i < checkBoxes.length; i++){
          checkBoxes[i].required = false;
        }
      }
      else {
        for (var i = 0; i < checkBoxes.length; i++){
          checkBoxes[i].required = true;
        }
      }
    }
  </script>
{% endblock %}