{% extends "landing_page.html" %}
{% load static %}

{% block about_masir_block %}
    {% url 'landing_page_link' %}
{% endblock %}

{% block mainblock %}
    <div style="position: relative; height: 40vh;top: 6vh; width: 100vw;background-image: url('{% static "images/landing_page_background_wc.jpg" %}');background-size: cover;background-repeat: no-repeat;background-position: center; overflow: hidden;">
        <div class="position-absolute top-50 start-50 translate-middle w-100 text-center py-5"
             style="font-weight: 700; background-color: #ffffffc0;">

            <form action="{% url 'people_judge_page_link' %}" method="post" class="container"
                  onsubmit="people_judge_form_click()">
                {% csrf_token %}
                <a href="#activities" class="btn masir-btn col-lg-8 col-12 mb-2">
                    داوری مردمی آثار برتر
                </a>

                <div class="row col-lg-8 col-12" style="margin: auto">
                    <label style="text-align: start !important;" class="mb-0">شماره همراه</label>
                    <input name="people_judge_phone" type="text"
                           style="border-radius: 5px; border: 1px solid #0A958E; background-color: white"
                           class="col form-control text-center mt-2 me-2" pattern="9[0-9]{9}" placeholder="۹۱۲۳۴۵۶۷۸۹"
                           autocomplete="off" required dir="ltr" maxlength="10">
                    <button type="submit" name="people_judge_form" class="btn col mt-2 vote-btn"
                            id="people_judge_form">
                        دریافت کد تایید پیامکی
                    </button>
                    <button class="btn masir-btn col mt-2 vote-btn"
                            style="display: none;"
                            id="people_judge_form_loading">
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        در حال ارسال...
                    </button>
                    <label style="text-align: start !important;" class="mb-0">لطفا ابتدا با هدف کنترل تعداد آرا دریافتی
                        شماره همراه خود را وارد نمایید </label>

                </div>

            </form>
            <form action="{% url 'people_judge_page_link' %}" method="post" class="container"
                  onsubmit="people_judge_form_click()">
                {% csrf_token %}
                <div class="row col-lg-8 col-12 mt-3" style="margin: auto">
                    <label style="text-align: start !important;" class="mb-0">کد تایید</label>
                    <input name="verification_code" type="text" pattern="9[0-9]{9}" placeholder="۱۲۳۴۵"
                           style="border-radius: 5px; border: 1px solid #0A958E; background-color: white"
                           class="col form-control text-center mt-2 me-2"
                           autocomplete="off" required dir="ltr" maxlength="6">
                    <button type="submit" name="verification_form" class="btn col mt-2 vote-btn"
                            id="verification_form">
                        تایید کد
                    </button>
                    <button class="btn masir-btn col mt-2 vote-btn"
                            style="display: none;"
                            id="verification_form_loading">
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        در حال بررسی...
                    </button>
                </div>


            </form>
        </div>
    </div>
    

    <div id="activities" class="bg-white " style="height: max(6vw, 6vh);"></div>
    <div class="container-fluid w-100 text-center "  style="overflow: hidden">
        <div class="row justify-content-center mb-5 pb-5">
          <p class="masir-title-1">آثار برتر مسیر ۱۴۰۱</p>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" >
            <p class="masir-title-1">آثار برتر صوتی</p>
            <div id="audiovote" class="carousel slide" data-bs-ride="true" style=''>
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#audiovote" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#audiovote" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#audiovote" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#audiovote" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#audiovote" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>
              <div class="carousel-inner" style="">
                <div class="carousel-item active">
                  <iframe src="https://www.aparat.com/video/video/embed/videohash/dZ57C/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
                </div>
                <div class="carousel-item">
                  <iframe src="https://www.aparat.com/video/video/embed/videohash/MsqWy/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
                </div>
                <div class="carousel-item">
                  <iframe src="https://www.aparat.com/video/video/embed/videohash/JdK85/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
                </div>
                <div class="carousel-item">
                  <iframe src="https://www.aparat.com/video/video/embed/videohash/Zh3MT/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
                </div>
                <div class="carousel-item">
                  <iframe src="https://www.aparat.com/video/video/embed/videohash/KiLUB/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#audiovote" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">قبلی</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#audiovote" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">بعدی</span>
              </button>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" >
            <p class="masir-title-1">آثار برتر ویدیویی</p>
            <div id="videobest" class="carousel slide" data-bs-ride="true" style=''>
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#videobest" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#videobest" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#videobest" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#videobest" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#videobest" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>
              <div class="carousel-inner" style="">
                <div class="carousel-item active">
                  <iframe src="https://www.aparat.com/video/video/embed/videohash/fAYV7/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
                </div>
                <div class="carousel-item">
                  <iframe src="https://www.aparat.com/video/video/embed/videohash/Dhc7q/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
                </div>
                <div class="carousel-item">
                  <iframe src="https://www.aparat.com/video/video/embed/videohash/Mv094/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
                </div>
                <div class="carousel-item">
                  <iframe src="https://www.aparat.com/video/video/embed/videohash/WLZBK/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
                </div>
                <div class="carousel-item">
                  <iframe src="https://www.aparat.com/video/video/embed/videohash/3Xui9/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#videobest" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">قبلی</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#videobest" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">بعدی</span>
              </button>
            </div>
          
          </div>
          
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" >
            <p class="masir-title-1">آثار برتر تصویری</p>
            <div id="picturebest" class="carousel slide" data-bs-ride="true" style=''>
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#picturebest" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#picturebest" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#picturebest" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#picturebest" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner" style="">
                <div class="carousel-item active">
                  <img src="https://s2.uupload.ir/files/1_plz5.jpg"   style="width: 90%; height: 60vh;">
                </div>
                <div class="carousel-item">
                  <img src="https://s2.uupload.ir/files/4_778.jpg"   style="width: 90%; height: 60vh;">
                </div>
                <div class="carousel-item">
                  <img src="https://s2.uupload.ir/files/3_ctxi.jpg"   style="width: 90%; height: 60vh;">
                </div>
                <div class="carousel-item">
                  <img src="https://s2.uupload.ir/files/5_slvu.jpg"  style="width: 90%; height: 60vh;">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#picturebest" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">قبلی</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#picturebest" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">بعدی</span>
              </button>
            </div>
          
          </div>
          
        </div>
    </div>

{% endblock %}

{% block scriptblock %}
    <script>
        function people_judge_form_click() {
            document.getElementById('people_judge_form').style.display = 'none';
            document.getElementById('people_judge_form_loading').style.display = 'block';
        }

        function images_vote_check() {
            var checkBoxes = document.getElementsByClassName('image_checkbox');
            var isChecked = false;
            for (var i = 0; i < checkBoxes.length; i++) {
                if (checkBoxes[i].checked) {
                    isChecked = true;
                }
            }
            if (isChecked) {
                for (var i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].required = false;
                }
            } else {
                for (var i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].required = true;
                }
            }
        }

        function music_vote_check() {
            var checkBoxes = document.getElementsByClassName('music_checkbox');
            var isChecked = false;
            for (var i = 0; i < checkBoxes.length; i++) {
                if (checkBoxes[i].checked) {
                    isChecked = true;
                }
            }
            if (isChecked) {
                for (var i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].required = false;
                }
            } else {
                for (var i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].required = true;
                }
            }
        }

        function video_vote_check() {
            var checkBoxes = document.getElementsByClassName('video_checkbox');
            var isChecked = false;
            for (var i = 0; i < checkBoxes.length; i++) {
                if (checkBoxes[i].checked) {
                    isChecked = true;
                }
            }
            if (isChecked) {
                for (var i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].required = false;
                }
            } else {
                for (var i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].required = true;
                }
            }
        }
    </script>
{% endblock %}