{% extends "landing_page.html" %}
{% load static %}

{% block about_masir_block %}
  {% url 'landing_page_link' %}
{% endblock %}


{% block mainblock %}
  <div id="masir-land1-background" class="container-fluid w-100 text-center " style="overflow: hidden; background-image: url('{% static "images/home_page_background_old.jpg" %}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="row justify-content-center mb-5 pb-5 position-absolute top-50 start-50 translate-middle w-100 text-center py-5" style="font-weight: 1000; background-color: #ffffffc0;">
      <p class="masir-title-1" >در مسیر 1401 چه گذشت؟</p>
        
    </div>
  </div>

  <div class="container-fluid w-100 text-center " style="overflow: hidden;">
    <div class="row justify-content-center mb-5 pb-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" >
          <p class="masir-title-1">تیزر مسیر ۱۴۰۱</p>
          <iframe src="https://www.aparat.com/video/video/embed/videohash/pWhU5/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
      </div>        
    </div>
  </div>
    
  </div>
  <div class="container-fluid w-100 text-center " style="overflow: hidden">
    <div class="row justify-content-center mb-5 pb-5">
      <p class="masir-title-1">داستان مسیر</p>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" >
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 1 - طغیان تاریکی </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 1 - طغیان تاریکی.mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 2 - سپیده_دم </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 2 - سپیده_دم.mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 3 - رویای پریشان </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 3 - رویای پریشان .mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 4 - صعود </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 4 - صعود.mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" >
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 5 - حقیقت </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 5 - حقیقت.mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 6 - ستونهای سست </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 6 - ستونهای سست.mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;"> داستان مسیر- قسمت 7- ملاقات </span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت 7- ملاقات .mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
          <div class="mb-2 p-2 d-flex justify-content-between align-items-center" style="background-color: #eeeeee;">
            <span style="font-weight: 700;">داستان مسیر- قسمت آخر</span>
            <audio controls>
              <source src="{% static 'manzel/داستان مسیر- قسمت آخر.mp3' %}" type="audio/mpeg">
            </audio>
            
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="container-fluid w-100 text-center "  style="overflow: hidden">
      <div class="row justify-content-center mb-5 pb-5">
        <p class="masir-title-1">آثار برتر مسیر ۱۴۰۱</p>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" >
          <p class="masir-title-1">آثار برتر صوتی</p>
          <div id="audiobest" class="carousel slide" data-bs-ride="true" style=''>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#audiobest" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#audiobest" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#audiobest" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#audiobest" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#audiobest" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner" style="">
              <div class="carousel-item active">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/dZ57C/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/MsqWy/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/JdK85/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/Zh3MT/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/KiLUB/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#audiobest" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">قبلی</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#audiobest" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">بعدی</span>
            </button>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" >
          <p class="masir-title-1">آثار برتر ویدیویی</p>
          <div id="videobest" class="carousel slide" data-bs-ride="true" style=''>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#videobest" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#videobest" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#videobest" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#videobest" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#videobest" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner" style="">
              <div class="carousel-item active">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/fAYV7/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/Dhc7q/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/Mv094/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/WLZBK/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
              </div>
              <div class="carousel-item">
                <iframe src="https://www.aparat.com/video/video/embed/videohash/3Xui9/vt/frame"   allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#videobest" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">قبلی</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#videobest" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">بعدی</span>
            </button>
          </div>
        
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" >
          <p class="masir-title-1">آثار برتر تصویری</p>
          <div id="picturebest" class="carousel slide" data-bs-ride="true" style=''>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#picturebest" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#picturebest" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#picturebest" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#picturebest" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner" style="">
              <div class="carousel-item active">
                <img src="https://s2.uupload.ir/files/1_plz5.jpg"   style="width: 90%; height: 60vh;">
              </div>
              <div class="carousel-item">
                <img src="https://s2.uupload.ir/files/4_778.jpg"   style="width: 90%; height: 60vh;">
              </div>
              <div class="carousel-item">
                <img src="https://s2.uupload.ir/files/3_ctxi.jpg"   style="width: 90%; height: 60vh;">
              </div>
              <div class="carousel-item">
                <img src="https://s2.uupload.ir/files/5_slvu.jpg"  style="width: 90%; height: 60vh;">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#picturebest" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">قبلی</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#picturebest" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">بعدی</span>
            </button>
          </div>
        
        </div>
        
      </div>
    </div>

  <div class="container-fluid w-100 text-center "  style="overflow: hidden">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" >
        <p class="masir-title-1">کلیپ اختتامیه مسیر ۱۴۰۱</p>
        <iframe src="https://www.aparat.com/video/video/embed/videohash/Q06sB/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 90%; height: 60vh;"></iframe>
      </div>
    </div>
    </div>
    
  </div>
    
{% endblock mainblock%}

