*{
  transition: 0.2s;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 300;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #eeeeee;
}

.scroll-without-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-without-scrollbar::-webkit-scrollbar { 
  display: none;
}

.disabled{
  filter: grayscale(100%) !important;
}

.masir-title-1{
  font-weight: 700;
  font-size: 30px;
  margin-top: 1rem;
  color: #3d6185;
}

.masir-paragraph-1{
  text-align: justify;
  margin: 0;
  text-indent: 1rem;
}

.masir-icon-pack{
  background-color: white;
  font-weight: 700;
  border: 2px solid;
  border-radius: 50rem;
  padding-left: 0.25rem;
  margin: 0 0.15rem;
}

.masir-circle-button-1,
.masir-circle-button-2,
.masir-circle-button-3{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.masir-circle-button-1.alarm::after,
.masir-circle-button-2.alarm::after,
.masir-circle-button-3.alarm::after{
  content: '';
  display: block;
  margin: 1%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: red;
}

.masir-circle-button-1{
  height: max(2.5vw, 2.5vh);
  width: max(2.5vw, 2.5vh);
}

.masir-circle-button-2{
  height: max(3vw, 3vh);
  width: max(3vw, 3vh);
}

.masir-circle-button-3{
  height: max(4vw, 4vh);
  width: max(4vw, 4vh);
}
@media screen and (max-width: 1500px){
  .masir-circle-button-1{
    height: 2em;
    width: 2em;
  }
  
  .masir-circle-button-2{
    height: 2.5em;
    width: 2.5em;
  }
  
  .masir-circle-button-3{
    height: 3em;
    width: 3em;
  }
}

.masir-circle-button-1:not(.active):not(.disabled):hover, 
.masir-circle-button-2:not(.active):not(.disabled):hover,
.masir-circle-button-3:not(.active):not(.disabled):hover{
  filter: brightness(150%);
}

.masir-jelly:not(.active):not(.disabled):hover{
  animation-name: masir-jelly-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

@keyframes masir-jelly-animation {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.2);}
  100% {transform: scale(1);}
}

.masir-map-icon-1{
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
}

.masir-map-icon-1:not(.disabled):hover{
  filter: brightness(150%);
}

.masir-map-icon-1 .masir-map-icon-popup{
  position: absolute;
  right: 0;
  transform: translateX(100%);
  background-color: #ffffffc0;
  border: 2px solid;
  border-radius: 25px;
  padding: 0.5rem;
  width: max-content;
  visibility: hidden;
  opacity: 0;
}

.masir-map-icon-1:not(.disabled):hover .masir-map-icon-popup{
  visibility: visible;
  opacity: 1;
  filter: brightness(66%);
}

.masir-map-icon-1 .masir-map-icon-pin-icon svg{
  height: 3rem;
  width: 3rem;
}

.masir-map-icon-1 .masir-map-icon-title .masir-map-icon-title-number{
  cursor: pointer;
  font-weight: 300;
  font-size: medium;
  background-color: white;
  padding: 0 0.25rem;
  width: fit-content;
}

.masir-map-icon-1 .masir-map-icon-title .masir-map-icon-title-name{
  cursor: pointer;
  font-weight: 700;
  font-size: x-large;
  color: white;
  padding: 0 0.25rem;
  width: fit-content;
}

.masir-modal{
  border-radius: 25px;
  background-color: #ffffffc0;
  overflow: visible !important;
}

.masir-modal .masir-modal-header{
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 5.5vh 0px;
}

.masir-circle-icon-3{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 50%;
  padding: 0.75rem;
  height: max(5vw, 5vh);
  width: max(5vw, 5vh);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.masir-modal-close-icon{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(33%,-33%);
  z-index: 1030;
}

.masir-offcanvas{
  background-color: #ffffffc0;
  border-left: 3px #3d6185 solid;
  max-width: 90% !important;
  min-width: 40vw;
}

.masir-offcanvas .masir-offcanvas-header{
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 5.5vh 0px;
}

.masir-offcanvas .masir-offcanvas-header div div{
  display: flex;
  align-items: center;
  border-radius: 50rem;
  padding: 0.75rem;
}

.masir-offcanvas .masir-offcanvas-header div div svg{
  height: max(3vw, 3vh);
  width: max(3vw, 3vh);
}

.masir-offcanvas-close-icon{
  position: absolute;
  top: 10vh;
  left: 0;
  transform: translateX(-50%);
  z-index: 1050;
}

.masir-form-control{
  border-radius: 0 !important;
  border: 1px black solid;
}

.masir-form-control{
  box-shadow: none !important;
  border: 1px black solid !important;
}

.masir-btn{
  border-radius: 0 !important;
  font-weight: 700;
}

.masir-btn:not(.disabled):hover{
  filter: brightness(150%);
}

.masir-btn.disabled{
  filter: grayscale(100%);
}

.masir-achievement{
  object-fit: cover;
  width: 100%;
}